.home{
    width: 90%;
    border : 0.3px rgba(0, 0, 0, 0.2) solid;
    display: block;
    margin: auto;
}
h2{
    margin: 30px;
}
.searchBar button{

    font-weight:700;
    border-radius:25px;
    border:none;
    height:35px;
}

/* apropos */
.apropos{
    display:flex;
    width:85%;
     margin:auto;
    background:rgba(255, 173, 0, 0.15);
    padding:30px;
}
.imgapropos img{
    width:250px;
    padding-right:30px;
    height:10em;
    float:left;
    clear:both;
  }


@media screen and (max-width:780px) {
   *{
    margin: auto;
   }
   .apropos{
    display:flex;
    width:50%;
}
.imgapropos img{
  width:50%;
  padding-right:30px;
  height:80px;
  float:left;
  clear:both;
}
h2{
    font-size: medium;
}
}