.registerContainer .register{
height: 100vh;
display: flex;
justify-content: center;
margin: 8%;
border: rgba(255, 173, 0, 0.15) solid 1em;
background-color: rgba(255, 173, 0, 0.15);


}

 .loginLeftPart{
    width: 100%;
    display: block;
    margin-left: auto;
    justify-content: center;
    padding-top: 2%;
   background: rgba(255, 173, 0, 0.15);
   padding-top: 2em;


}
div.loginLeftPartImg{
    margin: auto;
    width: 6em;
    margin-top: 2em;

}
.loginLeftPart button{

    height: 35px;
    border-radius:30px;
    font-size: small;
    margin-top: 5%;
    background-color: #FFAD00;
    font-weight: 700;
    border: none;
    margin: auto;

    

   }
div.rowContainer{
    display: flex;
    margin: 10%;
    
}
.registerContainer .register .rightpart{
    /* width:50%; */
    height: 100%;
    background-color: #fff;
    justify-content: center;

}
 .registerRightPart {

    width: 100%;
    margin: auto;
    padding-top: 2%;
    background-color: #fff;
    border: solid 1em rgba(255, 173, 0, 0.15);
    display: block;


}
.registerForm{
    width: 50%;
    margin: auto;
}
.registerRightPart form input{
margin-bottom: 5px;
margin-top: 30px;
border-radius: 0%;
height:30px;
box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.25);
border: 0em;
border-left:solid #FFAD00 0.5em ;
font-size: smaller;
color: black;
font-weight: 700;
padding-left: 25px;
width: 90%;
}
 .submitBtn{

    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;


}
p.errors{
    color: red;
}
.registerForm button{

    height: 35px;
    border-radius:30px;
    font-size: small;
    margin-top: 1%;
    background-color: #FFAD00;
    font-weight: 700;
    border: none;
}

@media screen and (max-width:780px) {
    div.rowContainer{
        display: flex;
        flex-direction: column-reverse;
        background-color: rgba(255, 173, 0, 0.15); 
        margin: 10%;
        
    }
    .registerRightPart{
        width: 90%;

    }
    div.registerForm {
        width: 90%;
        margin-left: 5%;
    }
    div.registerForm button{
    width: 50%;
    font-size: 10px;
    }
 

    .registerRightPart form input{
        font-size: x-small;
    }
    .submitBtn {
        width: 50%;
        margin:auto;

        margin-bottom: 5%;
    }
}
    
